---
permalink: /404.html
---
<!doctype html>
<html>
  {% include partials/_head.html %}

  <body>
    <header>
      {% include partials/_nav.html %}

      <section class="row" id="home">
        <div class="col col-12 contain">
          <h1>Oops!</h1>
          <p>
            This page does not exist!
          </p>
          <div class="button-group">
            <a href="/" class="button inverted">Return to Homepage</a>
            <a href="/#contact" class="button inverted">Contact Us</a>
          </div>
        </div>
      </section>
    </header>

    {% include partials/_footer.html %}

  </body>
</html>
