<dl class="hours-list">
  <dt>About us</dt>
  <dd>A small business delivering focussed solutions with emerging technical solutions while keeping fundamental values intact.  </dd>



  <dt>NAICS Codes</dt>
  <dd>
    <ul class="list--unstyle">
      <li>541511 Custom Computer Programming Services.</li>
      <li>541512 Computer Systems Design Services</li>
			<li>541618 Other Management Consulting Services</li>
      <li>541519 Other Computer related Services</li>
    </ul>
  </dd>
  <dt>DUNS Number</dt>
  <dd>080500293</dd>
</dl>
